<h1><%= @article.title %></h1>
<p>
    <%= @article.description %>
</p>
<span>Last modified: <%= @article.updated_at.to_s %></span>
<br>
<%= link_to 'new article', new_article_path %>
<br>
<%= link_to 'edit this article', edit_article_path(@article) %>