<%= render 'shared/errors', obj: @user %>
<h1>sign up for Alpha blog</h1>
<%= form_for @user do |f| %>
    <p>
        <%= f.label :username %>
        <br>
        <%= f.text_field :username %>
    </p>
    <p>
        <%= f.label :email %>
        <br>
        <%= f.email_field :email %>
    </p>
    <p>
        <%= f.label :password %>
        <br>
        <%= f.password_field :password %>
    </p>
    <p>
        <%= f.submit 'sign up' %>
    </p>
<% end %>